<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
<head>
<title>זמן</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="wrap">
  <div id="masthead">
    <h1>שם האתר שלך</h1>
    <h2><a href="http://www.free-css.co.il/">דף הבית</a> | <a href="http://www.free-css.co.il/">צור קשר</a> </h2>
  </div>
  <div id="menucontainer">
    <div id="menunav">
      <ul>
        <li><a href="#"><span>קישור</span></a></li>
       <li><a href="#"><span>קישור</span></a></li>
       <li><a href="#"><span>קישור</span></a></li>
       <li><a href="#"><span>קישור</span></a></li>
        <li><a href="http://www.free-css.co.il/"><span>דף הבית</span></a></li>
      </ul>
    </div>
  </div>
  <div id="container">
    <div id="sidebar">
      <h3>תפריט צידי</h3>
      
      <img src="images/stopwatch.jpg" alt="" />
      <div id="navcontainer">
        <ul>
          <li><a href="#">קישור</a> </li>
          <li><a href="#">קישור</a> </li>
          <li><a href="#">קישור</a> </li>
          <li><a href="#">קישור</a> </li>
          <li><a href="#">קישור</a> </li>
          <li><a href="#">קישור</a> </li>
        </ul>
      </div>
      <p>טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט </p>
    </div>
    <div id="content">
      <h3>ברוכים הבאים לעיצוב <span style="color: #3484B1;">זמן</span></h3>
      <p>
זמן מוגדר באמצעות  שינוי, ותלוי בשינוי. המשמעות של הזמן היא היכולת בתאוריה של מיקום גורמים שונים במציאות ותכונותיהם להיות אחרים ממה שהם כרגע, באופן שאינו פרדוקסלי.

במחשבה אחרת, מתי שידוע כי חפץ מסוים נמצא גם במצב A וגם במצב B, אבל ידוע גם כן כי שני מצבים אלו שונים בהחלט זה מזה, אז ניתן להבין כי בין A ל-B קיים סוג של פער זמן מסוים. המעבר בין A ל-B הינו תהליך.
</p>
<p>
<h3>ראיית זמן</h3>
חברות חקלאיות וחברות מסורתיות רואות את הזמן כמשהו מחזורי, מחזור היום והלילה קובע את היממה ואת העבודה הנדרשת, מחזור העונות קובע את סדרי החיים, המחזור של שנים של מחסור ושנים של שפע. בחברות אלו אין כמעט משמעות לשעה המדויקת או לחלקיה. מושגי זמן יכולים להתקטן בזריחה, בוקר, צהריים, אחרי הצהריים (או ערביים), שקיעה, ערב ולילה. בחברות אלו יש משמעות רבה לטקסים החוזרים על עצמם אחת לתקופה (קבלת שבת כל שבוע, ראש חודש, חגים הנחגגים כל שנה בטקסיות דומה). ומכאן מחזוריות והמשכיות.
<br/>
לעומתן, בחברות תעשייתיות יש חשיבות לפרקי זמן קצרים, ויש משמעות רבה לדקות ואף לשניות. מחזור הזמן בא לידי ביטוי רק במקרים נדירים (יום מנוחה פעם בשבוע) ולרוב תהיה מדידת הזמן מכאנית ומתמשכת על ציר ששורשו בעבר והמשכו בעתיד. סיוע לתפישת זמן זו היא הנצרות, שקבעה תאריך מסוים כשנת האפס, ותיארכה אירועים מסוימים לפני ואירועים אחרים אחרי אותה נקודת ייחוס, ובכך עזרה להתהוות תפישת הזמן המישורית. ובנוסף, קבעה שעונים ושעונים מצלצלים על כנסיותיה, בכך הכפיפה את כל הקהילה לסולם זמנים אחיד אשר סייע מצידו להתהוות החברה התעשייתית בה כולם מגיעים לעבודה באותה שעה. המשך התהליך היה בקביעת זמן עולמי אחיד - שעון גריניץ'.
</p>
</div>
  </div>
  <div id="footer">
תורגם ע"י  <a href="http://www.free-css.co.il">עיצובים להורדה</a>
   
</div>
</body>
</html>
